

<section id="one" class="fs_panel">
  <a class="panel_button" href="#two" value="1" opa="<%= (Event.find(@membership.event_id).memberships.where(:dayslot => 1).count.to_f / Event.find(@membership.event_id).memberships.count).round(1) %>">Tänään</a>
  <a class="panel_button" href="#two" value="2" opa="<%= (Event.find(@membership.event_id).memberships.where(:dayslot => 2).count.to_f / Event.find(@membership.event_id).memberships.count).round(1) %>">Huomenna</a>
  <a class="panel_button" href="#two" value="3" opa="<%= (Event.find(@membership.event_id).memberships.where(:dayslot => 3).count.to_f / Event.find(@membership.event_id).memberships.count).round(1) %>">Ylihuomenna</a>
</section>

<section id="two" class="fs_panel">
  <a class="panel_button" href="#three" value="1" opa="<%= (Event.find(@membership.event_id).memberships.where(:dayhalf => 1).count.to_f / Event.find(@membership.event_id).memberships.count).round(1)%>">Aamupäivä</a>
  <a class="panel_button" href="#three" value="2" opa="<%= (Event.find(@membership.event_id).memberships.where(:dayhalf => 2).count.to_f / Event.find(@membership.event_id).memberships.count).round(1)%>">Iltapäivä</a>
</section>

<section id="three" class="fs_panel">
  <div class="am">
    <a class="panel_button" href="#" value="1" opa="<%= (Event.find(@membership.event_id).memberships.where(:timeslot => 1).count.to_f / Event.find(@membership.event_id).memberships.count).round(1)%>">07:00</a>
    <a class="panel_button" href="#" value="2" opa="<%= (Event.find(@membership.event_id).memberships.where(:timeslot => 2).count.to_f / Event.find(@membership.event_id).memberships.count).round(1)%>">08:00</a>
    <a class="panel_button" href="#" value="3" opa="<%= (Event.find(@membership.event_id).memberships.where(:timeslot => 3).count.to_f / Event.find(@membership.event_id).memberships.count).round(1)%>">09:00</a>
    <a class="panel_button" href="#" value="4" opa="<%= (Event.find(@membership.event_id).memberships.where(:timeslot => 4).count.to_f / Event.find(@membership.event_id).memberships.count).round(1)%>">10:00</a>
    <a class="panel_button" href="#" value="5" opa="<%= (Event.find(@membership.event_id).memberships.where(:timeslot => 5).count.to_f / Event.find(@membership.event_id).memberships.count).round(1)%>">11:00</a>
  </div>
  <div class="pm">
    <a class="panel_button" href="#" value="6" opa="<%= (Event.find(@membership.event_id).memberships.where(:timeslot => 6).count.to_f / Event.find(@membership.event_id).memberships.count).round(1)%>">12:00</a>
    <a class="panel_button" href="#" value="7" opa="<%= (Event.find(@membership.event_id).memberships.where(:timeslot => 7).count.to_f / Event.find(@membership.event_id).memberships.count).round(1)%>">13:00</a>
    <a class="panel_button" href="#" value="8" opa="<%= (Event.find(@membership.event_id).memberships.where(:timeslot => 8).count.to_f / Event.find(@membership.event_id).memberships.count).round(1)%>">14:00</a>
    <a class="panel_button" href="#" value="9" opa="<%= (Event.find(@membership.event_id).memberships.where(:timeslot => 9).count.to_f / Event.find(@membership.event_id).memberships.count).round(1)%>">15:00</a>
    <a class="panel_button" href="#" value="10" opa="<%= (Event.find(@membership.event_id).memberships.where(:timeslot => 10).count.to_f / Event.find(@membership.event_id).memberships.count).round(1)%>">16:00</a>
    <a class="panel_button" href="#" value="11" opa="<%= (Event.find(@membership.event_id).memberships.where(:timeslot => 11).count.to_f / Event.find(@membership.event_id).memberships.count).round(1)%>">17:00</a>
    <a class="panel_button" href="#" value="12" opa="<%= (Event.find(@membership.event_id).memberships.where(:timeslot => 12).count.to_f / Event.find(@membership.event_id).memberships.count).round(1)%>">18:00</a>
    <a class="panel_button" href="#" value="13" opa="<%= (Event.find(@membership.event_id).memberships.where(:timeslot => 13).count.to_f / Event.find(@membership.event_id).memberships.count).round(1)%>">19:00</a>
    <a class="panel_button" href="#" value="14" opa="<%= (Event.find(@membership.event_id).memberships.where(:timeslot => 14).count.to_f / Event.find(@membership.event_id).memberships.count).round(1)%>">20:00</a>
    <a class="panel_button" href="#" value="15" opa="<%= (Event.find(@membership.event_id).memberships.where(:timeslot => 15).count.to_f / Event.find(@membership.event_id).memberships.count).round(1)%>">21:00</a>
    <a class="panel_button" href="#" value="16" opa="<%= (Event.find(@membership.event_id).memberships.where(:timeslot => 16).count.to_f / Event.find(@membership.event_id).memberships.count).round(1)%>">22:00</a>
  </div>
</section>





<%= form_for(@membership) do |f| %>
    <%= f.hidden_field :event_id, :value => @membership.event_id %>
    <%= f.hidden_field :dayslot, :id => "dayslot", :value => "0"%>
    <%= f.hidden_field :dayhalf, :id => "dayhalf", :value => "0" %>
    <%= f.hidden_field :timeslot, :id => "timeslot", :value => "0" %>
<% end %>

<!--<ul>-->
  <!--<li>Tänään: <%= Event.find(@membership.event_id).memberships.where(:dayslot => 1).count %></li>-->
  <!--<li>Huomenna: <%= Event.find(@membership.event_id).memberships.where(:dayslot => 2).count %></li>-->
  <!--<li>Ylihuomenna: <%= Event.find(@membership.event_id).memberships.where(:dayslot => 3).count %></li>-->
<!--</ul>-->

