<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <%= link_to 'Join', new_membership_path(:membership => {:event_id => @event.id}) %>
</p>

<p>
  <% @event.users.each do |u| %>
    <p><%= u.email %></p>
  <% end %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
