<section id="eventinfo">
    <h1><%= @event.name%></h1>
    <h2>@<%= @event.location%></h2>
</section>

<% if @event.memberships.count > 0 %>
<section id="eventpanel">
    <div>
        <h1><%= (@event.created_at + @event.getfav.first.days).strftime("%A") %></h1>
        <h1><%= @event.getfav.last + 6 %>:00</h1><br>
    </div>
</section>
<% end %>



<div class="joinbutton">
  <%= link_to 'Join', new_membership_path(:membership => {:event_id => @event.id}) %>
</div>



